body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}
.display{
    background:#e9e9e9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 1.5rem;
    min-height: 40px;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition:all 0.3s;
}
button:hover{
    background: #0056b3;
}
button.operator{
    background: #ff5733;
}
button.operator:hover{
    background: #c44125;
}
.history{
    margin-top: 20px;
}
.history ul {
    list-style-type: none;
    padding: 0;
}
.history  li {
    background: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}