@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md flex flex-col justify-center items-center text-center  hover:shadow-lg transition;
        width: 136px;
        height: 179px;
    }

    .card-img {
        @apply mx-auto object-contain;
        width: 120px; 
        height: 120px;
    }

    .card-title {
        @apply font-quicksand font-bold text-gray-800 text-[16px] text-center;
    }

    .card-text {
        @apply font-lato font-normal text-gray-600 text-[12px] text-center block mt-0.5;

    }
}