body {
    font-family:  B Titr, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.slider {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #fff;
}
.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.slider img.active {
    display: block;
}
.controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.button {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
