.freelance{
  &__box {
    background-color: $color-primary;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    padding: 50px;
    margin: 100px auto 200px;
  }

  //&-text{
  //  display:inline-block;;
  //  }
  }
