.testimony {
  &__black-box{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $color-black;
   height:890px;
  }
  &__image-hat-man{
    position: absolute;
    width: 600px;
    height: 100%;
    top: -50px;
  }
  &__box {
    margin-bottom: 180px;
  }
  &__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 13px;
  }
}