body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb; /* زمینه روشن با آبی ملایم‌تر */
}

.accordion-group {
    margin: 20px;
    border: 1px solid #d0e4f4; /* آبی بسیار کم‌رنگ */
    border-radius: 5px;
    background-color: #fff;
}

.accordion-item {
    border-bottom: 1px solid #d0e4f4; /* آبی بسیار کم‌رنگ */
}

.accordion-header {
    padding: 15px;
    background-color: #a7c6ed; /* آبی ملایم‌تر */
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #86aee2; /* آبی روشن‌تر */
}

.accordion-content {
    padding: 15px;
    background-color: #e5f2fd; /* آبی روشن */
    display: none;
    font-size: 14px;
    color: #333;
}

.active {
    background-color: #86aee2; /* آبی روشن‌تر */
}