*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   box-sizing: border-box;
  background-color:$color-black;
  font-family: Roboto, sans-serif;
  color: $color-white;
}

