.background-color-black {background-color:$color-black !important;}
.background-color-primary {background-color:$color-primary !important;}
.color-yellow {color:$color-yellow !important;}
.color-white {color:$color-white !important;}
.margin-top-l{margin-top: 100px}